# Dependencies
node_modules/

# Production build output
dist/

# Astro cache and local logs
.astro/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env
.env.production
.env.development
.env.local

# Operating system files
.DS_Store
Thumbs.db
*.txt
projectSite/public/scripts/decode.py
projectSite/public/scripts/deobfuscator.py
projectSite/public/scripts/malware.py
projectSite/public/scripts/malware2.py
projectSite/public/scripts/malware_decoded2.py
